* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  overflow: auto;
  background-color: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 20px 100px;
  box-sizing: border-box;
}

nav .logo {
  font-family: Limelight;
  font-size: 32px;
  font-weight: bolder;
  line-height: normal;
}

nav ul {
  display: flex;
  list-style: none; /* menghilangkan bullet pada nav*/
  justify-content: flex-end; /* memberi jarak antar menu */
  width: 40%;
}

nav ul li {
  padding-right: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 300px;
  background-color: rgb(4, 62, 112);
  /* background-image: url("./img/hero.jpg"); */
  /* background-size: cover; */
  align-items: center;
  justify-content: center;
  /* opacity: 0.9; */
  /* background-color: black; */
}

.bigherotext {
  color: white;
  font-family: Titan One;
  font-size: 80px;
}

.smallherotext {
  color: white;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
}

.carttable {
  padding: 20px 100px;
  box-sizing: border-box;
}

.carttable table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

.prodimg {
  width: 70px;
}

.carttable table td:nth-child(1) {
  width: 150px;
  text-align: center;
}

.carttable table td:nth-child(2) {
  width: 250px;
  text-align: center;
}

.carttable table td:nth-child(3),
.carttable table td:nth-child(4),
.carttable table td:nth-child(5) {
  width: 150px;
  text-align: center;
}

.carttable table td:nth-child(6) {
  width: 100px;
  text-align: center;
}

.carttable table td:nth-child(4) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

.carttable table thead {
  border: 1px solid rgb(4, 62, 112);
  border-left: none;
  border-right: none;
}

.carttable table thead td {
  font-weight: 700;
  text-decoration: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

.carttable table tbody tr td {
  padding-top: 18px;
}

.carttot {
  display: flex;
  justify-content: center;
}
.subtotal {
  width: 30%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 20px;
  box-sizing: border-box;
}

.subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.subtotal table td {
  width: 30%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

.subtotal h3 {
  padding-bottom: 20px;
}

.subtotal button {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: #05407e;
  color: white;
  cursor: pointer;
}

footer {
  display: flex;
  background-color: black;
  color: white;
  height: 80px;
  justify-content: center;
  padding-top: 20px;
  box-sizing: border-box;
}
