@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,600;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  overflow: auto;
  background-color: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 20px 100px;
  box-sizing: border-box;
}

nav .logo {
  font-family: Limelight;
  font-size: 32px;
  font-weight: bolder;
  line-height: normal;
}

nav ul {
  display: flex;
  list-style: none; /* menghilangkan bullet pada nav*/
  justify-content: flex-end; /* memberi jarak antar menu */
  width: 40%;
}

nav ul li {
  padding-right: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.active {
  font-weight: bolder;
}

.hero {
  display: flex;
  flex-direction: row;
  /* height: 663px;
  padding-bottom: 116px; */
  background-image: url('../assets/img/Banner.png');
  max-width: 100%;
  background-size: cover;
  /* opacity: 0.9; */
  /* background-color: black; */
  align-items: center;
  height: 100vh;
}

.heroleft {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 100px;
  box-sizing: border-box;
}

.bigherotext {
  /* padding-top: 103px; */
  color: black;
  font-family: Titan One;
  font-size: 5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 5vw; /* 100% */
}

.smallherotext {
  padding-top: 32px;
  color: black;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.herobutton {
  padding-top: 32px;
}

.herobutton button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 62px;
}

.border-black {
  display: flex;
  background-color: black;
  color: white;
  height: 100px;
  justify-content: center;
  padding-top: 20px;
  box-sizing: border-box;
}

.newarrival {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}

.newarrivaltext {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 800;
  line-height: normal;
}
.cardsection {
  margin-top: 51px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* width: 220px;
  height: 320px; */
  /* align-items: center;
  justify-content: center; */
  transition: all 0.2s ease;
}

.card:hover{
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}

.cardimg {
  max-width: 100%;
  height: auto;
}

.cardimg img{
  width: 220px;
  height: 220px;
  border-radius: 10px;
}

.cardname {
  font-size: 16px;
}

.cardtext p{
  flex-wrap: wrap;
}

.cardprice {
  font-size: 16px;
  font-weight: 800;
}

.stars i{
  color:#ffc633;
}

.viewallbutton {
  margin: auto;
  padding-top: 35px;
}

.viewallbutton button {
  background-color: white;
  border-radius: 62px;
  border: 2px solid rgba(0, 0, 0);
  color: black;
  padding: 16px 54px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  gap: 12px;
  flex-shrink: 0;
}

.viewallbutton button a{
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  color: #000;
}

.topselling {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}

.topsellingtext {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 800;
  line-height: normal;
}

footer {
  display: flex;
  background-color: black;
  color: white;
  height: 80px;
  justify-content: center;
  padding-top: 20px;
  box-sizing: border-box;
}

footer p{
  font-family: 'Lato', sans-serif;
}


.testimoni{
  width: 100%;
}

.testimonitext{
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}

.testimoni-parent{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 50px 100px;
  column-gap: 30px;
  
}

.testimoni-items{
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  flex-wrap: wrap;
}

.testimoni-items:hover{
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
  cursor: pointer;
}





/* responsive
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
  .menu-toggle span {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  nav ul {
    display: none;
  }
} */
